.RodaPe {
    background-color: #2f2f2f;
    color: #eeeeee;
}
.footer_icones img {
    width: 32px;
}
.img_footer_contato {
    width: 32px;
}
#footer_direitos {
    background: #fff;
    color: #2f2f2f;
}
#RodaPe-logo img {
    width: 100px;
}