#footer_bg_black {
    padding: 24px;
    background-color: #2f2f2f;
    color: #eeeeee;
    /*display: flex;
    flex-direction: row;*/
}
#footer_logo img {
    width: 110px;
}
#footer_contatos img {
    width: 30px;
}
#footer_social img{
    width: 30px;
}
#footer_direitos {
    margin-top: 12px;
    text-align: center;
}


@media (max-width: 991.98px) {
    #footer_logo {
        display: flex;
        justify-content: center;
    }
    #footer_contatos {
        margin-top: 16px;
    }
    #footer_social {
        margin-top: 16px;
    }
}
@media (max-width: 575.98px) {
    #footer_logo {
        display: flex;
        justify-content: center;
    }
}