#navbar {
    background-color: #2f2f2f;
}
#menuNavbar a{
    color: #eeeeee;
}
#menuNavbar a:hover {
    font-weight: 500;
    color: #5ACB89;
    transform: scale(1.06);
    transition: all 0.3s ease;
}
#logo_template {
    width: 80px;
}
#logo_template:hover {
    transform: scale(1.06);
    transition: all 0.3s ease;
}
.icon {
    border: none;
}