.titulo1{
    margin-top: 50px;
    border-left: solid #5ACB89 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.titulo1{
    padding-left: 10px;

}

.card1{
    color: white;
    background-color: #2F2F2F;
    padding-bottom: 60px;
    margin-bottom: 50px;
    border-bottom: solid #5ACB89 5px;
    border-radius: 5px;
    max-width: 80px;

}

.card2{
    color: white;
    background-color: #2F2F2F;
    padding-bottom: 60px;
    margin-bottom: 50px;
    border-bottom: solid #5ACB89 5px;
    border-radius: 5px;
    max-width: 80px;

}

.card3{
    color: white;
    background-color: #2F2F2F;
    padding-bottom: 60px;
    margin-bottom: 50px;
    border-bottom: solid #5ACB89 5px;
    border-radius: 5px;
    max-width: 80px;
}

.cards{
    display: flex;
    flex-direction: row;
    
}