.titulo1{
    margin-top: 50px;
    border-left: solid #5ACB89 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    padding-left: 10px;  
    margin-bottom: 50px;
}
.tituloprodução{
    margin-top: 50px;
    border-left: solid #5ACB89 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    padding-right: 20px; 
}
.circulo1{
    position: absolute;
    position: static;
    
}
.circulo1 img{
    width: 100px;

}

.conteudohistoria{
    margin-top: 50px;
    margin-bottom: 50px;
}

.producao-link{
    margin-top: 50px;
    position: relative;
}

.conteudodescrição{
    font-size: 18px;
    margin-bottom: 50px;
}
.titulocardproducao1 {
   float: left;
   font-size: 20px;
   padding-top: 25px;
    
}
.titulocardproducao2{
    float: right;
    
}

.titulocardproducao3{
    padding-top: 140px;
}


#producao-link{
    display: flex;
    flex-direction: row;
}

.cardprodução1{
    position: relative;
    background-color: #2F2F2F;
    color: white;
    max-width: 80px;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: solid #2F2F2F 10px;
    transition: border-color 0.3s;
}

.cardprodução1:hover{
    border-color: #5ACB89;
}


.cardprodução2{
    position: relative;
    margin-left: 200px;
    background-color: #2F2F2F;
    color: white;
    max-width: 80px;
    border-radius: 5px;
    margin-bottom: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: solid #2F2F2F 10px;
    transition: border-color 0.3s;
}

.cardprodução2:hover{
    border-color: #5ACB89;
}


.titulocard{
    margin-top: 50px;
    border-left: solid #5ACB89 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    padding-left: 10px;  
    margin-bottom: 50px;
    margin-left: 15px;
}

.card1{
    color: white;
    background-color: #2F2F2F;
    padding-bottom: 60px;
    margin-bottom: 50px;
    border-bottom: solid #5ACB89 5px;
    border-radius: 5px;
    max-width: 80px;
    margin-left: 30px;
}

.card2{

    color: white;
    background-color: #2F2F2F;
    margin-bottom: 50px;
    border-bottom: solid #5ACB89 5px;
    border-radius: 5px;
    max-width: 80px;
    margin-left: 30px;

}

.card3{
    color: white;
    background-color: #2F2F2F;
    margin-bottom: 50px;
    border-bottom: solid #5ACB89 5px;
    border-radius: 5px;
    max-width: 80px;
    margin-left: 30px;
}

.cards{
    display: flex;
    flex-direction: row;
    
}

.card1 img{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.card2 img{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.card3 img{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.conteudocard{
    padding-top: 4px;
}

